.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.objetos {
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button {
    text-align: center;
}

.modoOscuro {
    background-color: black;
    color: white;
}